<div
  class="group relative flex aspect-card w-64 cursor-grab items-start justify-center overflow-clip rounded-2xl border-4 border-white bg-white shadow-xl active:cursor-grabbing md:w-72 lg:w-96"
>
  <div
    class="z-10 flex flex-col items-center justify-center gap-2 px-6 pt-12 md:pt-16 lg:pt-24"
  >
    <p
      class="animate-gradient-bg select-none bg-gradient-to-t from-color-a to-color-b bg-gradient-size bg-clip-text text-center font-coiny text-9xl leading-none text-transparent md:text-[9.5rem] lg:text-[11rem]"
    >
      A
    </p>
    <p
      class="select-none text-center font-give-you-glory text-2xl md:text-[1.60rem] lg:text-4xl lg:leading-[3.5rem]"
    >
      Ambot saim ha, bahala ka gad dida
    </p>
  </div>
  <img
    src="assets/images/cards/card-1.png"
    alt="card-1"
    class="absolute z-0 aspect-card self-center rounded-2xl opacity-10 blur-[1px] grayscale-[50%] transition-all group-hover:scale-125 group-hover:blur-0 group-hover:grayscale-0"
  />
</div>
