<main
  class="relative flex h-screen w-screen flex-col items-center justify-center gap-8 overflow-hidden px-6 py-14 md:flex-row-reverse md:gap-16 laptop:gap-20 desktop:gap-60"
>
  <app-verification />
  <div
    #cards
    class="w-64 md:w-72 lg:w-96"
    (mouseenter)="playBackgroundMusic()"
    (touchstart)="playBackgroundMusic()"
  >
    <swiper-container
      #swiper
      class="swiper"
      effect="cards"
      slideShadows="false"
      grab-cursor="true"
      (swiperslidechange)="onSlideChange()"
    >
      @for (data of cardData; track $index) {
        <swiper-slide class="rounded-2xl">
          <app-card [cardData]="data" />
        </swiper-slide>
      }
    </swiper-container>
  </div>

  <section class="flex max-w-[26rem] flex-col gap-6 md:gap-12">
    <app-title />
    <div class="flex flex-wrap items-center justify-center gap-2 md:gap-3">
      @for (letter of letters; track $index) {
        <app-letters
          (slideToLetterEvent)="slideTo(letter)"
          (activeIndexEvent)="updateActiveIndex()"
          [activeIndex]="activeIndex"
          [data]="letter"
        />
      }
    </div>
  </section>

  <div
    [ngStyle]="{
      'background-image': 'url(assets/images/cards/' + backgroundImage + ')',
    }"
    class="absolute bottom-0 left-0 right-0 top-0 -z-10 h-screen w-screen animate-scale bg-cover bg-center opacity-10"
  ></div>

  <div
    class="absolute bottom-0 left-0 right-0 top-0 -z-20 h-screen w-screen animate-gradient-bg bg-gradient-to-tl from-color-a to-color-b bg-gradient-size"
  ></div>

  <audio #backgroundAudio loop autoplay muted>
    <source
      src="assets/Babe, You're the One - Piano Version.mp3"
      type="audio/mpeg"
    />
  </audio>
</main>
